.polarMarker {
    background-image: radial-gradient(circle at center, rgba(255,0,255,0.8) 0, rgba(0,0,0,0) 100%);
    background-size: cover;
    width: 20px;
    height: 20px;
    text-align:center;
    font-size:14px;
    font-weight:normal;
    color:white;
    border-radius: 50%;
    cursor: pointer;
    /* border: 2px solid rgba(255,255,0,0.5); */
    text-shadow: -1px -1px 3 #000;
    overflow:visible;
    white-space:nowrap;
  }