

.Channel {
  padding: 5px 5px 0;
  background-color: #ccc;
  border-radius: 6px;
  color:black;
}


.Channel h1 {
  font-size: 1em;
  font-weight:bold;
  cursor:pointer;
}

.Channel h1.open::before {
  content:'';
  display:inline-block;
  width: 0;
  height: 0;
  margin-right: 8px;
  margin-left:4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
}

.Channel h1.closed::before {
  content:'';
  display:inline-block;
  width: 0;
  height: 0;
  margin-right: 8px;
  margin-left:4px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;

  border-left: 6px solid black;
}

.Channel .resetCount {
  margin-left: 1em;
  background-color: #aaa;
  color: white;
  border-radius: 2px;
  padding: 0px 6px 2px 6px;
  font-weight:normal;
  font-size: 0.8em;
}

.Channel .lastHeard {
  margin-left: 4px;
  color: black;
  border-radius: 2px;
  background-color: white;
  padding: 0px 6px 2px 6px;
  font-weight:normal;
  font-size: 0.8em;
}

.Channel .btn-tiny {
  float:right;
  font-size: 0.8em;
  line-height: 1;
  padding: 0.2rem 0.2rem;
}

.Channel .nav-tabs {
  margin-top:0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.Channel .nav-tabs .nav-link {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  padding: 1px 1em;
  width:100%;
  background-color: #ccc;
}

.Channel .nav-tabs .nav-link.active {
  background-color: #fff;
  border-color:#ccc;
  color:black;
  font-weight:bold;
}

.Channel .tab-pane {
  /*padding: 6px 6px;*/
  margin-left:-5px;
  margin-right:-5px;
  background-color: transparent;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.Channel .tab-pane canvas {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.Channel .parametersTab {
  padding: 0 5px 0 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 4px;
  margin-bottom:5px;
}

.Channel .params {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 5px;
  margin-bottom:5px;
}
