
.scriptMarker {
  background-image: radial-gradient(circle at center, rgba(128,128,255,0.8) 0, rgba(0,0,0,0) 100%);
  background-size: cover;
  width: 15px;
  height: 15px;
  text-align:center;
  font-size:10px;
  font-weight:normal;
  color:white;
  border-radius: 50%;
  border:1px solid #aaf;
  cursor: pointer;
  /* border: 2px solid rgba(255,255,0,0.5); */
  text-shadow: -1px -1px 3 #000;
  overflow:visible;
  white-space:nowrap;
}

.scriptMarker.active {
  border:3px solid #fff;
  background-color: #aaf;
}


.NodeUI {

}

.NodeUI .nodeTitle {
  font-size: 16px;
  font-weight:bold;
  margin-top:-8px;
  margin-bottom:2px;
  color:#def;
  position:relative;
}

.NodeUI .panelNav {
  margin-left:-8px;
  margin-right:-8px;
  padding:0 8px;
  margin-bottom:8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 4px;
  border-bottom: 2px solid #0069d9;
}

.NodeUI .panelNav .tab {
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border:1px solid #6c757d;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  text-align:center;
}

.NodeUI .panelNav .tab:focus {
   border:0;
}

.NodeUI .panelNav .tab:hover {
   border:0;
   text-decoration: none;
}

.NodeUI .panelNav .tab.active {
  background-color: #0069d9;
  border:1px solid #0069d9;
  color: #fff;
}

.NodeUI .panelNav .tab.inactive {
  background-color: none;
  border:1px solid #6c757d;
  border-bottom:0;
  color: #aaa;
}

.NodeUI .panelNav .tab .fas {
  line-height: 1.5;
}
