
.VisualisationPanel {
    background-image: url("/images/water.png")
}


.visualisationEditorBlock {
    position:absolute;
    display:none;
    top:20vh;
    left:5vw;
    z-index:3000;
    box-shadow: 3px 3px 5px #000;
    width:50vw;
    height:70vh;
    background-color:#555;
}

.visualisationEditorBlock .editorNav {
    background-color: #aaa;
    padding: 4px 4px;
    margin-bottom: 4px;
}

.visualisationEditorBlock .editor {
    height: calc(100% - 36px);
}

.VisualisationPanel .errorOverlay {
    position:absolute;
    background-color: #a02020;
    color:white;
    width:100%;
    display:none;
    padding: 4px 8px;
    font-size: 1rem;
}

.VisualisationPanel .errorOverlay pre {
    color:white;
    font-size: 1rem;
}